<div class="categories-wrapper">
    <div class="filters-container">
      <div class="search-container">
  <input
    type="text"
    class="search-input"
    id="searchInput"
    placeholder="Search"
    aria-label="Search exercises"
  />
  <button class="search-button" id="searchButton" aria-label="Search">
    <svg
      class="search-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#111"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="16" y1="16" x2="22" y2="22"></line>
    </svg>
  </button>
</div>
      <ul class="categories-btns-list">
        <li class="categories-btns-item">
          <button class="category-btn active" type="button" data-action="Muscles">
            Muscles
          </button>
        </li>
        <li class="categories-btns-item">
          <button class="category-btn" type="button" data-action="Body parts">
            Body parts
          </button>
        </li>
        <li class="categories-btns-item">
          <button class="category-btn" type="button" data-action="Equipment">
            Equipment
          </button>
        </li>
      </ul>
    </div>
  <div class="cards-wrapper">
    <ul class="categories-cards-list"></ul>
    <ul class="exercises-list"></ul>
  </div>
  <div id="pagination" class="pagination"></div>
</div>
