:root {
    font-family: "Montserrat", serif;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 80px auto;
    max-width: 335px;

}

.quote-card {
    background: #242424;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 18px;
}

.quote-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.quote-right-icon {
    display: inline-flex;
    margin-left: auto;
    vertical-align: top;
    
}

.quote-icon {
    fill: #f4f4f4;
    width: 18px;
    height: 20px;
}

.quote-content {
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    color: rgba(244, 244, 244, 0.8);
    line-height: 1.5;
    text-align: left;
}

.quote-title {
    color: #f4f4f4;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: left;
    margin-top: 0px;
    display: flex;
}


.quote-author {
    font-weight: 400;
    font-size: 14px;
    color: #f4f4f4;
    margin-top: 16px;
    text-align: left;
    margin-bottom: 0px;
}

.quote-text {
    margin: 0px;
}

.image-wrapper {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

.motivation-image {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
    border-radius: 20px;
}

.goal-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
}

.goal-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.icon-target {
    fill: #f4f4f4;
    width: 20px;
    height: 20px;
}

.goal-content {
    flex: 1;
}

.goal-text {
    font-weight: 600;
    font-size: 20px;
    color: #242424;
    margin: 0;
}

.goal-title {
    font-weight: 400;
    font-size: 14px;
    color: rgba(36, 36, 36, 0.6);
    margin-top: 2px;
}

.goal-description {
    font-weight: 400;
    font-size: 14px;
    color: rgba(36, 36, 36, 0.8);
    margin-top: 16px;
    line-height: 1.5;
    max-height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
    .quote-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 800px;
    }

    .quote-card {
        width: 53%;
        min-height: 175px;
    }

    .image-wrapper {
        margin: 0;
        max-width: 42%;
    }

    .goal-card {
        width: 53%;
        margin: 0px;
    }

    .goal-description {
        max-height: 85px;
    }

    /* .motivation-image {
        width: 100%;
        height: auto;
    } */
}

@media screen and (min-width: 1440px) {
    .quote-container {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 32px;
        justify-content: center;
        max-width: 500px;
    }

    .quote-card {
        width: 100%;
        /* margin: 0; */
    }

    .image-wrapper {
        /* margin: 0; */
        width: 100%;
        max-width: none;
        height: 100%;
    
    }

    .goal-card {
        width: 100%;
    }

    .goal-description {
        max-height: 100%;
    }
}






.quote-container-fav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
    margin: 0px auto;
    max-width: 335px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        max-width: 800px;
        justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
        max-width: 500px;
    }

}

.quote-card-fav {
    background: #242424;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 18px;
    max-width: 500px;

    @media only screen and (min-width: 768px) {
        width: 100%;
        max-width: none;
    }

}

.goal-card-fav {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 500px; */

    @media only screen and (min-width: 768px) {
        width: 48%;
        margin: 0px;
    }

    @media only screen and (min-width: 1440px) {
        min-width: 200px;
        height: 141px;
    }
}

.goal-icon-fav {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.goal-card-fav svg {
    fill: #242424;
}

.image-wrapper-fav {
    max-width: 500px;
    border-radius: 20px;
    /* margin: 0 auto; */
    overflow: hidden;

    @media only screen and (min-width: 768px) {
        width: 48%;
        margin: 0px;
        max-width: none;

    }

    @media screen and (min-width: 1440px) {
        min-width: 200px;
        max-width: none;

    }
}

.motivation-image-fav {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
    border-radius: 20px;

    @media only screen and (min-width: 768px) {
        min-height: 141px;
    }
}