
.favorites {
    padding-top: 132px;
    padding-bottom: 100px;
}
.favorites h1 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.04em;
    font-weight: 400;
    margin-bottom: 20px;
}
/* /* .fav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
} */

/* @media screen and (min-width:1440px) {
    .fav-wrapper {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
    }
} */
/* .wrapper-first {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

/* @media screen and (min-width:767px) {
    .wrapper-first {
        flex-direction: row;
        flex-wrap: wrap;
    }

} */


/* .exercise-goal-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}



 */


.wrapper-secnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

 @media screen and (min-width:767px) {
    .wrapper-secnd {
        flex-direction: row;
        flex-wrap: wrap;
    }
 }

 @media screen and (min-width:1440px) {
    .wrapper-secnd {
        height: 472px;
        overflow-y: auto;
        overflow-x: hidden;
        align-content: flex-start;
        padding-right: 10px;
        align-items: center;
    }
 }
/* .text-exer для тексту, коли немає улюблених*/
.text-exer {
    text-align: center;
    color: rgba(36, 36, 36, 1);
}
@media screen and (min-width: 767px) {
    .text-exer {
        max-width: 554px;
        padding-top: 132px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1440px) {
    .text-exer {
        height: 390px;
        padding-top: 0;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.wrapper-secnd::-webkit-scrollbar {
    width: 8px;
}

.wrapper-secnd::-webkit-scrollbar-track {
    background: rgba(36, 36, 36, 0.1);
    border-radius: 12px;
}

.wrapper-secnd::-webkit-scrollbar-thumb {
    background: rgba(36, 36, 36, 1);
    border-radius: 12px;
}
/* styles for cards */

.fav-exr-card {
    height: 141px;

    @media screen and (min-width:1440px) {
        width: 100%;
        max-width: none;
    }
}
.exr-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 15px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    flex: 0 0 calc(50% - 16px);
    gap: 8px;
} 

@media (max-width: 767px) {
    .exr-card {
        flex: 0 0 calc(100% - 16px);
        max-width: 335px;
        gap: 16px;
        margin-bottom: 0;
    }
    
}
@media screen and (min-width:1440px) {
    .exr-card {
        width: 50%;
        max-width: none;
    }
        
}


.fav-workout-title-left {
    display: flex;
    align-items: center;
}
.workout-title-name {
    font-weight: 500;
    color: #242424;
    border: 1px solid #242424;
    border-radius: 15px;
    padding: 5px 8px;
    width: 76px;
    height: 26px;
}

.trash-icon {
    cursor: pointer;
    fill: #ff6b6b;
    transition: fill 0.3s ease;
}

.trash-icon:hover {
    fill: #ff0000;
}

.workout-title-right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.workout-start {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #242424;
    border: none;
    background: white;
}

.workout-arw {
    transform: rotate(90deg)
}
.workout-run-man-wrapper {
    width: 24px;
    height: 24px;
    background-color: #242424;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.workout-run-man {
    fill: white;
}

.workout-details-disc {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.333;
    }
}
.workout-stats,
.workout-details,
.workout-title,
.workout-title-left {
    display: flex;
    gap: 16px;

    @media (max-width: 767px) {
        gap: 10px;
    }
}



.workout-title {
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 9px;
}

.workout-stats>p {
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.workout-stats-title {
    color: rgba(36, 36, 36, 0.4);
}

.workout-stats-cal {
    max-width: 133px;

    @media (max-width: 767px) {
        max-width: 131px;
    }
}

.workout-stats-part {
    max-width: 93px;

    @media (max-width: 767px) {
        max-width: 91px;
    }
}

.workout-stats-target {
    max-width: 66px;

    @media (max-width: 767px) {
        max-width: 61px;
    }
}

