.hero-section {
  padding-top: 132px;
  padding-bottom: 40px;
}

.hero-container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.hero-content-wrapper {
  margin-bottom: 20px;
}

.hero-ttl {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #242424;
}
.hero-ttl::before {
  content: '';
  display: inline-block;
  background-image: url('../../images/hero/sun.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  margin-right: 15px;
}

.highlight {
  font-style: italic;
}

.hero-description {
  letter-spacing: -0.02em;
}

.hero-img-container-desktop {
  border-radius: 30px;
  width: 335px;
  height: 460px;

  @media screen and (min-width: 768px) {
    display: block;
    border-radius: 60px;
    width: 705px;
    height: 550px;
  }

  @media screen and (min-width: 1440px) {
    width: 1376px;
    height: 350px;
  }
}

.hero-tags-desktop {
  display: none;
}

.hero-tags {
}

.hero-background-img {
}
