/* Секція пошуку */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
  }
  
  .search-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Контейнер для пошуку */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 273px;
    height: 48px;
    border: 1px solid #242424;
    border-radius: 30px;
    padding: 0 15px; 
    background-color: #ffffff;
}
  
  /* Поле вводу */
  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #111111;
    padding-left: 5px; 
}
  
  /* Стилі для іконки */
  .search-icon {
    width: 18px; 
    height: 18px;
    margin-left: -15px;
    color: #111111;
    flex-shrink: 0;
}

  
  .search-icon:hover {
    transform: scale(1.1);
  }
  
  