<div class="quote-container-fav container">
    <div class="quote-card-fav">
        <div class="quote-left-icon">
            <svg class="quote-icon" width="18" height="20">
                <use href="../images/icons.svg#runn-man"></use>
            </svg>
        </div>
        <div class="quote-content">
            <p class="quote-title">
                Quote of the day

            <svg class="quote-icon quote-right-icon" width="20" height="20">
                <use href="../images/icons.svg#quote"></use>
            </svg>
            </p>

            <p class="quote-text">
                A lot of times I find that people who are blessed with the most talent don't ever develop that attitude,
                and the
                ones who aren't blessed in that way are the most competitive and have the biggest heart.
            </p>
            <p class="quote-author">
                Tom Brady
            </p>
        </div>
    </div>
    <div class="goal-card-fav">
        <div class="goal-icon-fav">
            <svg class="icon-target" width="20" height="20">
                <use href="../images/icons.svg#gauntlets"></use>
            </svg>
        </div>
        <div class="goal-content">
            <p class="goal-text">110 min</p>
            <p class="goal-title">Daily norm of sports</p>
        </div>
    </div>
    <div class="image-wrapper-fav">
        <img src="../images/favorites/smiling-girls.webp" srcset="../images/favorites/smiling-girls@2x.webp" alt="Women sportswear" class="motivation-image-fav" />
    </div>

</div>